* {
	font-family: Arial;
	box-sizing: border-box;
	color: #61574b;
}
body {

}
h1 {
	color: #34252f;
	text-align: center;
}
img, h1 {
	
	display: block;
	padding: 10px 15px;
}
  	  
h2 {
	color: #34252f;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: #8e5572;
}